@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: "FF Mark W05", Arial, sans-serif;
    background-color: #f4f4f4;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #555;
}
/* Estilos de logobar */
.logobar {
    background-color: #333;
    color: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 99%;
    top: 0;
    z-index: 1000;
}

.logobar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logobar li {
    margin-right: 20px;
}
.logobar li .flecha{
    font-size: 9px;
    padding-left: 6px;
    display: none;
}
.logobar li:hover .flecha {
    display: inline;
}

.logobar a {
    text-decoration: none;
    color: #f4f4f4;
}

.logobar .selection .logobar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logobar .selection .dropdown:hover .logobar-menu {
    display: block;
}

.logobar .selection .logobar-menu a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 25px;
    display: block;
}

 .logobar .selection .logobar-menu a:hover {
    background-color: #555;
    display: block;
}

/* Estilos fondo */

.top_space, .bot_space{
    padding: 5rem;
}

.contact-form {
    width: 50%;
    padding: 20px;
    background-color: #cccaca;
    background-image: url(https://media.istockphoto.com/id/891527468/es/vector/maqueta-de-envolvente-realista-de-color-rojo.jpg?s=612x612&w=0&k=20&c=f9Zf_zh37B2XhIDSfnPpRbJu_IA47LLypVvAg-Xu6hc=);
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 6rem; 
    margin-left: 20rem;
}

.contact-form label {
    font-family: "FF Mark W05", Arial, sans-serif;
    display: block; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    padding: 1rem;
}

/* Footer */

.footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 20px;
    font-family: "FF Mark W05", Arial, sans-serif;
    text-decoration: none;
}

/* Iconos redes sociales */

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
