nav.logobar{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position: static;
    margin: 0%;
    padding: 0%;
    font-family: "FF Mark W05",Arial,sans-serif;
}

div{
    display: block;
}
body{
    background-color: #e7e6e3;
    font-size: 1em;
    font-family: "FF Mark W05",Arial,sans-serif;
    margin: 8px;
}
li{
    background: black;
    list-style-type: none;
    text-align: center;
    flex-basis: 100%;
    display:flex;
    
}
a svg{
    inline-size: 15%;
}
li a{
    font-family: sans-serif;
    text-decoration: none;
    color: #e7e6e3;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    gap: 2px;
    flex-direction: column;
}
nav div{
    background: black;
}